<nav role="navigation" class="menu fixed top-0 right-0">
	<!-- <button type="button" class="">
	</button> -->
	<ul class="menu-items pl0 list">
		{{#foreach navigation}}
			<li class="dib pa2 mr2 fw7" role="presentation">
				<a href="{{url absolute="true"}}">
					{{label}}
				</a>
			</li>
		{{/foreach}}
	</ul>
</nav>
