<footer class="footer">
  <section class="footer_contactcard">
    <h3 class="footer_contactcard__name--top">I am</h3>
    <h2 class="footer_contactcard__name">Stephen C. Neptune</h2>
  </section>
  <section class="">

  </section>
</footer>
