<footer class="footer">
  <section class="footer_contactcard">
    <h3 class="footer_contactcard__name--top">I am</h3>
    <h2 class="footer_contactcard__name">Stephen C. Neptune</h2>
    <hr />
    <p class="footer_contactcard__occupation">FullStack Web Developer</p>
    <div class="footer_contactcard__socials">
      <ul class="">
        <li class="footer_contactcard_socials--list-link">
          <a class="github" href="#" target="_blank"></a>
        </li>
        <li class="footer_contactcard_socials--list-link">
          <a class="linkedin" href="#" target="_blank"></a>
        </li>
        <li class="footer_contactcard_socials--list-link">
          <a class="instagram" href="#" target="_blank"></a>
        </li>
        <li class="footer_contactcard_socials--list-link">
          <a class="twitter" href="#" target="_blank"></a>
        </li>
      </ul>
    </div>
  </section>
  <section class="footer_contactphysical">
    <a tel="1(858)-342-3675">858.342.3675</a>
    <address>
      985 W. Kensignton Rd.
      Echo Park, Los Angeles, CA 90026
    </address>
    <a href="mail-to:steven.neptune@gmail.com">steven.neptune@gmail.com</a>
  </section>
</footer>
