<footer class="footer brand-secondary">
  <div class="ph3-ns center mw8 pt4 pb5 ph4-ns ph3 cf">
    <section class="center fl-ns relative w-100 w-60-ns">
      <h2 class="f2 lh-solid mv1 fw6 noto fc-alternate">I am</h3>
      <h2 class="f2 lh-solid mv1 fw6 noto fc-brand-primary">Stephen C. Neptune</h2>
      <p class="f4 lh-solid mv2 fw4 noto fc-alternate">FullStack Web Developer</p>

      <div class="measure mt4">
        <ul class="mt2 list pl0">
          <li class="dib pa2 mr2 fw7">
            <a class="fc-timeline fc-timeline-link" href="https://github.com/scneptune" target="_blank">
              <svg class="fa fa-github w2 h2">
                <use xlink:href="{{asset "img/socials.svg"}}#github"></use>
              </svg>
            </a>
          </li>
          <li class="dib pa2 mr2 fw7">
            <a class="linkedin fc-timeline fc-timeline-link" href="https://linkedin.com/in/scneptune/" target="_blank">
              <svg class="fa fa-linkedin w2 h2">
                <use xlink:href="{{asset "img/socials.svg"}}#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="dib pa2 mr2 fw7">
            <a class="instagram fc-timeline fc-timeline-link" href="https://instagram.com/scneptune" target="_blank">
              <svg class="fa fa-instagram w2 h2">
                <use xlink:href="{{asset "img/socials.svg"}}#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="dib pa2 mr2 fw7">
            <a class="twitter fc-timeline fc-timeline-link" href="https://twitter.com/scneptune" target="_blank">
              <svg class="fa fa-twitter w2 h2">
                <use xlink:href="{{asset "img/socials.svg"}}#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="center fl-ns relative w-100 w-40-ns">
      <form class="mw5 mw6-l center ph3-ns pv2">
        <label class="f6 fw6 noto mv3 fc-alternate" >Subscribe</label>
        <input type="text" class="br3 mv3 lh-copy f4 input-reset brand-secondary w-100 bb fl bw1 ph2 fc-timeline reset-focus-ring b--solid" name="subscribe" placeholder="" />
      </form>

      <div class="fl ph3-ns mt3">
        <strong class="f6 fw6 lh-title fc-timeline">Contact</strong>
        <address class="f6 fw2 lh-copy fc-timeline fs-normal">
          985 W. Kensignton Rd., Echo Park, Los Angeles, CA 90026
        </address>
        <a class="f6 fw2 fc-timeline lh-copy fc-timeline-link" tel="1(858)-356-5871">858 356 5871</a>
        <a class="f6 fw2 fc-timeline lh-copy fc-timeline-link " href="mail-to:steven.neptune@gmail.com">steven.neptune@gmail.com</a>
      </div>
    </section>
  </div>
</footer>
