
<div class="mw5 lf dib bg-white br3 pa3 pa4-ns mv3 mh3 ba b--black-10">
  <div class="tc">
    <img src="http://placehold.it/50x50/555555/f3f3f3" class="br-100 h3 w3 dib" />
    <h4 class="f4">@scneptune</h4>
    <hr class="mw-3 bb bw1 b--black-10" />
  </div>
  <blockquote class="measure center">
    <p class="f6"> Example tweet
      <a href="">#hastagwackness</a>
    </p>
  </blockquote>
</div>
