<div class="db dn-m dn-l">
  Hey
</div>
<div class="dn flex-m flex-l justify-center flex-row flex-wrap overflow-hidden">
  <div class="w-100">
    <div class="db" id="timeline2011">
      <div class="fl ph2 relative w-50">
        <h1 class="f1 tc center mt6 fc-brand-primary">2011</h1>
      </div>
      <div class="fl ph2 relative w-50" >
        <object type="image/svg+xml" data="{{asset "img/csuf.svg"}}" class="w4 h4 fc-timeline"></object>
        <h4 class="f4 fw4 tl fc-alternate lh-title mb1">Graduated from Cal State Fullerton</h4>
        <p class="f6 fw4 tl fc-alternate lh-copy">Thesis written on Russian Perspectives of St. Petersburg. Graduated with a Bachelor's Degree in History</p>
      </div>
    </div>
    <div class="dn" id="timeline2012">
      <div class="fl ph2 relative w-50">
        <h1 class="f1 tc center mt6 fc-brand-primary">2012</h1>
      </div>
      <div class="fl ph2 relative w-50">
        <object type="image/svg+xml" data="{{asset "img/prove.svg"}}" class="w4 h3 fc-timeline"></object>
        <h4 class="f4 fw4 tl fc-alternate lh-title mb1"> Prove Media (formerly Placements Media)
        </h4>
        <p class="f6 fw4 tl fc-alternate lh-copy">Built custom Drupal 7 modules for importing large data directory scrapes from JSON to MYSQL. Built extensive UI Jquery Libraries for clients like Fidelity Life and Quixote Studios.
        <br />
        <small class="">September 2012 - June 2013</small>
        </p>
      </div>
    </div>
    <div class="dn" id="timeline2013">
      <div class="fl ph2 relative w-50">
        <h1 class="f1 tc center mt6 fc-brand-primary">2013</h1>
      </div>
      <div class="fl ph2 relative w-50">
        <object type="image/svg+xml" data="{{asset "img/cheri.svg"}}" class="w4 h3 fc-timeline"></object>
        <h4 class="f4 fw4 tl fc-alternate lh-title mb1">
          Cheri Media Group
        </h4>
        <p class="f6 fw4 tl fc-alternate lh-copy">
          Grew reader base on HiphopDX by 20% (about 8 million monthly readers) from 2014 to 2015 and increased time on site by ~30 sec through front-end performance optimizations and advanced page caching techniques. Relaunched 3 properties (HipHopDX.com, Roughstock.com, and BattleRap.com) with over 15 years of content in less than 5 months. Spearheaded editorial product initiatives like parallax super features, single page javascript applications for the Wordpress editor and dynamic user comment sorting.
          <br />
          <small class="">October 2013 - August 2015</small>
        </p>
      </div>
    </div>
    <div class="dn" id="timeline2017">
      <div class="fl ph2 relative w-50">
        <h1 class="f1 tc center mt6 fc-brand-primary">2015</h1>
      </div>
      <div class="fl ph2 relative w-50">
        <object type="image/svg+xml" data="{{asset "img/atv.svg"}}" class="w4 h3 fc-timeline"></object>
        <h4 class="f4 fw4 tl fc-alternate lh-title mb1">
          AwesomenessTV
        </h4>
        <p class="f6 fw4 tl fc-alternate lh-copy">
          Launched a product catalogue that lead to a 20 million dollar deal with international distribution. Shipped 5 products in 2016 that helped business goals.
          <br />
          <small class="">September 2015 - Present</small>
        </p>
      </div>
    </div>
    <!-- <div class="">
      <div class="fl ph2 relative w-50"></div>
      <div class="fl ph2 relative w-50"></div>
    </div> -->
  </div>
  <ul class="list flex tc pl0">
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2011">
      <span class="db center mv2">2011</span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2012">
      <span class="db center mv2">2012</span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2013">
      <span class="db center mv2">2013</span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2014">
      <span class="db center h1 mv2"></span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2015">
      <span class="db center mv2">2015</span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2016">
      <span class="db center h1 mv2"></span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
    <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-target="timeline2017">
      <span class="db center mv2">2017</span>
      <svg class="timeline-line db center" viewBox="0 0 22 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
        <path d="M9.5,2l3,0c0.828,0 1.5,0.672 1.5,1.5l0,19c0,0.828 -0.672,1.5 -1.5,1.5l-3,0c-0.828,0 -1.5,-0.672 -1.5,-1.5l0,-19c0,-0.828 0.672,-1.5 1.5,-1.5Z" />
      </svg>
    </li>
</ul>
</div>
