<div class="">
  {{#get "posts" filter="tag:work"}}
    {{#foreach posts}}
    <article class="">
      <h4 class="">{{{title}}}</h4>
      <div></div>

    </article>
    {{/foreach}}
  {{/get}}
</div>
<div class="controls">
</div>
