{{!< default}}
<!-- Intro -->
<section class="landing_intro">
  <div class="container">
  </div>
</section>
<!-- Profile -->
<section class="landing_profile">
  <div class="container">
  </div>
</section>
<!-- Timeline -->
<section class="landing_timeline">
  <div class="container">
  </div>
</section>
<!-- Social Feed -->
<section class="landing_socialfeed">
  <div class="container">
  </div>
</section>
<!-- Recent Loop -->
<section class="landing_recentposts">
  <div class="container">
    {{> recent-loop}}
  </div>
</section>
