{{!< default}}
<!-- Intro -->
<div class="landing">
<section class="landing_intro">
  <div class="container">
    <div class="landing_intro__left">
      <h3 class="landing_intro__left--heading">Fullstack  Web Developer
      </h3>
      <p class="">
        In a world of billions of devices, I seek to bring the best possible web experiences to humans.
      </p>
    </div>
    <div class="landing_intro__right">
      <img class="landing_intro__right--image" src="http://placehold.it/600x480/e66666/ffffff/" />
    </div>
  </div>
</section>
<!-- Profile -->
<section class="landing_profile">
  <div class="container">
    <div class="landing_profile__left">
      <h4 class="landing_profile__left--name">
        Stephen C. Neptune
      </h4>
      <img class="landing_profile__left--avatar" src="http://placehold.it/480x480" />
      <p class="landing_profile__left--bio">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque maximus nisl vitae sollicitudin mattis. Quisque quis tempor est. Etiam non vestibulum libero. Fusce commodo lectus eget erat pellentesque maximus. Suspendisse diam ipsum, hendrerit a elit et, placerat tincidunt odio. Fusce molestie risus efficitur massa molestie, non efficitur libero tincidunt. Praesent vitae sapien mattis, euismod elit vel, posuere dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
      </p>
    </div>
    <div class="landing_profile__right">
      <div class="landing_profile__right--title">
        <h4>What I Can Do</h4>
      </div>
      <div class="landing_profile__right--abilitytable">
        <div class="landing_profile__right--abilityicon">
          <img class="ability-icon" src="http://placehold.it/50x55/666666/E4E4E4" />
        </div>
        <div class="landing_profile__right--abilitydesc">
          <p class="landing_profile__right--abilitytext">
            Praesent vitae sapien mattis, euismod elit vel, posuere dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
      </div>
      <div class="landing_profile__right--abilitytable">
        <div class="landing_profile__right--abilityicon">
          <img class="ability-icon" src="http://placehold.it/50x55/666666/E4E4E4" />
        </div>
        <div class="landing_profile__right--abilitydesc">
          <p class="landing_profile__right--abilitytext">
            Praesent vitae sapien mattis, euismod elit vel, posuere dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
      </div>
      <div class="landing_profile__right--abilitytable">
        <div class="landing_profile__right--abilityicon">
          <img class="ability-icon" src="http://placehold.it/50x55/666666/E4E4E4" />
        </div>
        <div class="landing_profile__right--abilitydesc">
          <p class="landing_profile__right--abilitytext">
            Praesent vitae sapien mattis, euismod elit vel, posuere dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="landing_timeline">
  <div class="container">
    <div class="fl w-100 pa2 tc">
      <img src="http://placehold.it/600x400/5d98b1/ffffff" />
    </div>
  </div>
</section>
<!-- Social Feed -->
<section class="landing_socialfeed">
  <div class="container">
    <div class="" style="overflow: hidden;">
      <div class="" style="width: 100vw;" >
        {{> social-post}}
      </div>
    </div>
  </div>
</section>
<!-- Recent Loop -->
<section class="landing_recentposts">
  <div class="container">
    {{> recent-loop}}
  </div>
</section>
</div>
