{{!< default}}
<!-- Intro -->
<section class="feed_header">
  <div class="container">
  </div>
</section>
<!-- Recent Loop -->
<section class="feed_posts">
  <div class="container">
    {{> "loop"}}
  </div>
</section>
<!-- Social Feed -->
<section class="feed_socialfeed">
  <div class="container">
  </div>
</section>
