//only imports in this file

@import 'normalize.css';
@import '_font-awesome.css';
/* Modules */
@import 'tachyons/_box-sizing.css';
@import 'tachyons/_images.css';
@import 'tachyons/_background-size.css';
@import 'tachyons/_background-position.css';
@import 'tachyons/_outlines.css';
@import 'tachyons/_borders.css';
@import 'tachyons/_border-colors.css';
@import 'tachyons/_border-radius.css';
@import 'tachyons/_border-style.css';
@import 'tachyons/_border-widths.css';
@import 'tachyons/_box-shadow.css';
@import 'tachyons/_code.css';
@import 'tachyons/_coordinates.css';
@import 'tachyons/_clears.css';
@import 'tachyons/_display.css';
@import 'tachyons/_flexbox.css';
@import 'tachyons/_floats.css';
@import 'tachyons/_font-family.css';
@import 'tachyons/_font-style.css';
@import 'tachyons/_font-weight.css';
@import 'tachyons/_forms.css';
@import 'tachyons/_heights.css';
@import 'tachyons/_letter-spacing.css';
@import 'tachyons/_line-height.css';
@import 'tachyons/_links.css';
@import 'tachyons/_lists.css';
@import 'tachyons/_max-widths.css';
@import 'tachyons/_widths.css';
@import 'tachyons/_overflow.css';
@import 'tachyons/_position.css';
@import 'tachyons/_opacity.css';
@import 'tachyons/_rotations.css';
@import 'tachyons/_skins.css';
@import 'tachyons/_skins-pseudo.css';
@import 'tachyons/_spacing.css';
@import 'tachyons/_negative-margins.css';
@import 'tachyons/_tables.css';
@import 'tachyons/_text-decoration.css';
@import 'tachyons/_text-align.css';
@import 'tachyons/_text-transform.css';
@import 'tachyons/_type-scale.css';
@import 'tachyons/_typography.css';
@import 'tachyons/_utilities.css';
@import 'tachyons/_visibility.css';
@import 'tachyons/_white-space.css';
@import 'tachyons/_vertical-align.css';
@import 'tachyons/_hovers.css';
@import 'tachyons/_z-index.css';
@import 'tachyons/_nested.css';
@import 'tachyons/_styles.css';

@import 'tachyons/_colors.css';
@import 'tachyons/_media-queries.css';

/* Debugging */
@import 'tachyons/_debug-children.css';
@import 'tachyons/_debug-grid.css';


.brand-primary {
  background: #ffd740;
}



.brand-secondary {
  background: #263238;
}

.brand-secondary-hightlight {
  background: #546e7a;
}

.bg-color {
  background: #e5e5e5;
}

.card-contrast-color {
  background: #f4f3f4;
}

.fc-primary {
 color: #242424;
}

.fc-brand-primary {
  color: #ffd740;
}

.fc-brand-highlight {
  color: #ffab00;
}

.fc-alternate {
  color: #f3f3f3;
}

.fc-timeline {
  color: #697f8a;
}

.fc-timeline path {
  fill: #697f8a;
}

.fc-timeline-link {
  cursor: pointer;
}

.reset-focus-ring:focus, .reset-focus-ring {
  outline: none;
}

.fc-timeline-link:hover,
.fc-timeline-link:active,
.fc-timeline-link:hover path,
.fc-timeline-link:active path {

  fill: #3f515b;
  color: #3f515b;
  font-weight: 600;
}

.sr-only {
  visibility: hidden;
  display: none;
}

.timeline-line {
  width: 1rem;
  height: 1rem;
}

.landing_intro {

}
