.container {
  padding: 0 15px;
}
.fl {
  float: left;
  display: inline-block;
}

/* Variables loosely defined */


.landing {
  @extend .fl;
  margin: 0 auto;

  &_intro {

  }
  &_profile {

  }
  &_timeline {

  }
  &_socialfeed {

  }
  &_recentposts{

  }
}

.footer{
  &_contactcard {
    &__name {
      font-size: 10px;
    }
    &__name--top {
      font-size: 11px;
    }
  }
}

.recentcard {
  &_head {
    &__image{

    }
    &__title {

    }
    &__postdate {

    }
  }

  &__excerpt {

  }
}
